<div class = "wrapper">
  <div class = "header_spacer"></div>
  <div id = header>
    <h1  id = "title" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">SEBASTIAN GEHRICKE</h1>

    <div class = "pop_out" (click)="toggleMenu()"></div>

    <div class="button_container phone_size" [@SlideInOut] = "menuState">
      <button class="link" routerLink="/education" routerLinkActive="active" (click)="toggleMenu()"><p>EDUCATION</p></button>
      <button class="link" routerLink="/research" routerLinkActive="active" (click)="toggleMenu()"><p>RESEARCH</p></button>
      <button class="link" routerLink="/teaching" routerLinkActive="active" (click)="toggleMenu()"><p>TEACHING</p></button>
      <button class="link" routerLink="/consulting" routerLinkActive="active" (click)="toggleMenu()"><p>CONSULTING</p></button>
      <button class="link" routerLink="/honours" routerLinkActive="active" (click)="toggleMenu()"><p>HONOURS</p></button>
      <button class="link" routerLink="/phd" routerLinkActive="active" (click)="toggleMenu()"><p>PHD MEETINGS</p></button>
    </div>

    <div class="button_container pc_size" >
      <button class="link" routerLink="/education" routerLinkActive="active"><p>EDUCATION</p></button>
      <button class="link" routerLink="/research" routerLinkActive="active"><p>RESEARCH</p></button>
      <button class="link" routerLink="/teaching" routerLinkActive="active"><p>TEACHING</p></button>
      <button class="link" routerLink="/consulting" routerLinkActive="active"><p>CONSULTING</p></button>
      <button class="link" routerLink="/honours" routerLinkActive="active"><p>HONOURS</p></button>
      <button class="link" routerLink="/phd" routerLinkActive="active"><p>PHD MEETINGS</p></button>
    </div>

</div>



  <router-outlet></router-outlet>
</div>

<div id="overlay"></div>
<div class = "floating_links">
  <a class = "cv_icon" href = "../../assets/CV.pdf"></a>
  <a class = "linked_in" href="https://nz.linkedin.com/in/sebastian-gehricke-1a1a9178"></a>
</div>
